@{
    ViewBag.Title = "Über uns";
}
    <div class="container">
        <h1>Wünsche oder Fragen? Wenden Sie sich jederzeit an uns.</h1>
        
        <h3>Sie erreichen uns telefonisch oder per E-Mail.</h3>

        <p>Was immer Sie wissen wollen. Unser langjährig erfahrenes Team ist Ihnen bei allen Anliegen gerne behilflich. Und das in mehreren Sprachen. Wir sprechen Deutsch, Englisch und Niederländisch.</p>
        <br />
        <p>Campingplatz</p>
        <p>Straße XY</p>
        <p>A-6300 Wörgl</p>
        <a href="tel:+4369915006666">+4369915006666</a><br />
        <a href="mailto:XY@gmail.com">XY@gmail.com</a>
    </div>




