@{
    ViewBag.Title = "Informationen";
}

    <div class="container">
        <h1>Campingplatz</h1>
        <p>Der Campingplatz liegt direkt am Donauradweg – Wörgl vor den Toren der Kulturmetropole. Das parkähnliche Gelände erstreckt sich wie eine Insel unterhalb des Damms entlang eines Naturteiches und ist geradezu ideal für Camping in Österreich.</p>


        <div class="auflistung">
            <h1>Ausstattung Campingplatz:</h1>
            <ul>
                <li>45 befestigte Stellplätze für Caravans und Wohnmobile. Alle mit Stromanschluss.</li>
                <li>Große, separate Zeltwiese mit zahlreichen Tischen, Bänken und einem Unterstand (ideal für Radler)</li>
                <li>5 gemütliche Hütten</li>
                <li>6 urige Schlaf-Fässer</li>
                <li>Zelt aus Holz</li>
                <li>Gepflegtes Sanitärgebäude, behindertengerecht</li>
                <li>Ver- und Entsorgungs-Station für Wohnmobile</li>
                <li>Waschmaschinen, Trockner</li>
                <li>Grillplatz und Lagerfeuerstelle, romantisch am Naturteich gelegen</li>
                <li>Tischtennis</li>
                <li>Holzzillenfahren (traditionelles Ruder-Boot, das wir unseren Gästen kostenlos zur Verfügung stellen)</li>
                <li>Gratis WLAN (Wi-Fi) und Internet-Zugang</li>
                <li>Bushaltestelle, tägliche Verbindungen</li>
                <li>E-Bike-Verleih</li>
                <li>Täglich frisches Gebäck, Frühstücksservice im Gastgarten</li>
            </ul>

            <h2>Wenige Schritte vom Campingplatz entfernt befinden sich:</h2>
            <ul>
                <li>Badestrand</li>
                <li>Beachvolleyballfeld</li>
                <li>Bootshafen</li>
                <li>Tennisplatz</li>
            </ul>
        </div>
    </div>